*{
			margin: 0;
			padding: 0;
			font-size: 40px;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		}
		
		#outer{
			width:400px;
			height:500px;
			background-color: #020001;
			margin:auto;
			margin-top:100px;
			border-radius: 30px;
			color:#000000;
			overflow: hidden;
		}
		#show{
			width:380px;
			height: 220px;
			margin:auto;
			overflow: hidden;
		}
		
		#show .formula{
			width:380px;
			height:100px;
			background-color: #ccccd6;
			transform: translateY(12px);
			border-radius: 15px;
			overflow: hidden;
			text-align: right;
		}
		
		#show .inAndOut{
			display:flex;
			justify-content: space-between;
		}
		
		#show .inAndOut .result{
			width:187px;
			height: 90px;
			background-color: #ccccd6;
			border-radius: 15px;
			margin-top:20px;
			overflow: hidden;
		}
		
		#show .inAndOut .input{
			width:187px;
			height: 90px;
			background-color: #ccccd6;
			margin-top:20px;
			border-radius: 15px;
			overflow: hidden;
			text-align: right;
		}
		
		/* 以下按键区域 */
		
		#key{
			width:380px;
			height:270px;
			background-color: gray;
			margin:auto;
			display: flex;
			justify-content: space-between;
			border-radius: 30px;
		}
		
		.numberKey{
			width:230px;
			height:270px;
			background-color: gray;
			border-radius: 30px;

		}
		
		.functionKey{
			width:140px;
			height: 270px;
		}
		
		
		
		.numberKey button{
			border-radius: 10px;
			width:60px;
			height:50px;
			margin:15px 0 0 6px;
			outline: none;
		}
		.functionKey button{
			border-radius: 10px;
			width:60px;
			height:50px;
			margin:15px 4px 0 0;
			outline: none;
		}
		

		#btnCal{
			width:135px;
		}